{% extends "template_parts/main_template.twig" %}

{% block body_content %}

	<ul class="cat-list">
		{% for cat in product_categories %}
			<li><a href="{{cat.link}}">{{cat.name}}</a>
				{% if cat.children %}
					<ul class="cat-list-children">
						{% for child in cat.children %}
							<li>-<a href="{{child.link}}">{{child.name}}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>

	{{function('do_shortcode', '[wppb-login]')}}



{% endblock %}