{% extends "template_parts/custom_main_template.twig" %}
{% block styles %}
<style>
  span.discount_percentage {
    position: absolute;
    right: 25px;
    top: 15px;
    background-color: #ee1630;
    padding: 5px;
    color: white !important;
    font-size: 14px;
    font-weight: 900 !important;
  }
  span.new {
    position: absolute;
    left: 25px;
    top: 15px;
    background-color: #1682f1;
    padding: 5px 10px;
    color: white !important;
    font-size: 12px;
    font-weight: 900 !important;
  }
  .tool-pagination a{
    font-size:15px;
  }
</style>
{% endblock %}

{% block body_content %}

{% include 'template_parts/nav_bar.twig'  %}

{% if post.header_action %}
<div class="chip chip_notification">
	<a href="{{post.link_action_header}}">{{post.texto_action_header}}</a>
	<i class="close material-icons">close</i>
</div>
{% endif %}

{% for modulo in post.get_field("maquetacion") %}

{% if modulo.acf_fc_layout == "slider" %}
{% include ['modulos/slider.twig'] %}
{% elseif modulo.acf_fc_layout == "productos" %}
{% include ['modulos/productos.twig'] %}
{% elseif modulo.acf_fc_layout == "productos-category" %}
{% set term = TimberTerm(modulo.category) %}
{% include ['modulos/productos-category.twig'] %}
{% elseif modulo.acf_fc_layout == "parallax" %}
{% include ['modulos/parallax.twig'] %}
{% elseif modulo.acf_fc_layout == "masonry" %}
{% include ['modulos/masonry.twig'] %}
{% elseif modulo.acf_fc_layout == "masonry-custom-products" %}
{% include ['modulos/masonry-custom-products.twig'] %} 
{% elseif modulo.acf_fc_layout == "masonry-images" %}
{% include ['modulos/masonry-images.twig'] %} 
{% elseif modulo.acf_fc_layout == "masonry-products-categories" %}
{% include ['modulos/masonry-products-categories.twig'] %} 
{% elseif modulo.acf_fc_layout == "contenido" %}
{% include ['modulos/contenido.twig'] %}
{% elseif modulo.acf_fc_layout == "form" %}
{% include ['modulos/form.twig'] %}
{% elseif modulo.acf_fc_layout == "parallax-image" %}
{% include ['modulos/parallax-image.twig'] %}
{% elseif modulo.acf_fc_layout == "keep-look" %}
{% include ['modulos/keep-look-product.twig'] %}
{% endif %} 

{% endfor %}

<!-- Modal Structure -->
<div id="modal-promo" class="modal bottom-sheet">
	<div class="row">
		<div class="col s12 m6">
			
		</div>
		<div class="col s12 m6">
			
		</div>
	</div>
</div>



{% endblock %}

{% block scripts %}
<script>

	function pageIni() {
		{% for modulo in post.get_field("maquetacion") %}
		{% if modulo.acf_fc_layout == "slider" %}

		var swiper = new Swiper('.slider_{{modulo.slug}}', {
			preloadImages: false,
			lazy: true,
			effect: "{{modulo.effect}}",
			loop: {{modulo.loop}},
			autoplay: {{modulo.autoplay}},
			{% if modulo.pagination_show %}
			pagination: {
				el: '.{{modulo.slug}}-swiper-pagination',
				type: '{{modulo.pagination}}'
			},
			{% endif %}
			{% if modulo.arrows %}
			navigation: {
				nextEl: '.{{modulo.slug}}-swiper-button-next',
				prevEl: '.{{modulo.slug}}-swiper-button-prev',
			},
			{% endif %}
		});
		
		{% elseif modulo.acf_fc_layout == "masonry" or modulo.acf_fc_layout == "masonry-images" %}

		var $grid_masonry = $('.grid-{{modulo.slug}}').masonry({
			  // set itemSelector so .grid-sizer is not used in layout
			  itemSelector: '.grid-item',
			  // use element for option
			  columnWidth: '.grid-sizer',
			  percentPosition: true
			});



		
			// layout Masonry after each image loads
			$grid_masonry.imagesLoaded( function() {
				$grid_masonry.masonry('layout');
			});
			
			{% elseif modulo.acf_fc_layout == "masonry-products-categories" %}

			var $grid_categories = $('.grid-{{modulo.slug}}').masonry({
			  // set itemSelector so .grid-sizer is not used in layout
			  itemSelector: '.grid-item',
			  // use element for option
			  columnWidth: '.grid-sizer',
			  percentPosition: true
			});

			// layout Masonry after each image loads
			$grid_categories.imagesLoaded( function() {
				$grid_categories.masonry('layout');
			});
			

			{% elseif modulo.acf_fc_layout == "parallax" %}



			$('.parallax-{{modulo.slug}}').parallax();

			{% elseif modulo.acf_fc_layout == "parallax-image" %}
			if ($(window).width() > 600) {
				var lastScrollTop_{{modulo.slug}} = 0,
				alto_ventana = $( window ).height(),
				elemento_parallax_{{modulo.slug}} = $('#{{modulo.slug}}-parallax-image .parallax-img'),
				elementOffset_inicial_{{modulo.slug}} = elemento_parallax_{{modulo.slug}}.offset().top;
				$(window).on('scroll', function () {
					var scrollTop_{{modulo.slug}} = $(window).scrollTop(),
					elementOffset_{{modulo.slug}} = elemento_parallax_{{modulo.slug}}.offset().top,
					distance_{{modulo.slug}} = (elementOffset_{{modulo.slug}} - scrollTop_{{modulo.slug}}),
					st_{{modulo.slug}} = $(this).scrollTop();


					if (distance_{{modulo.slug}}<alto_ventana && distance_{{modulo.slug}}>(alto_ventana/2)*-1) {
						console.log("muevete");
						if (st_{{modulo.slug}} > lastScrollTop_{{modulo.slug}}) {
							elemento_parallax_{{modulo.slug}}.animate({top: '-=3'}, 0);
						} else {
							elemento_parallax_{{modulo.slug}}.animate({top: '+=3'}, 0);
						}

					}

					lastScrollTop_{{modulo.slug}} = st_{{modulo.slug}};


				});
			}

     		{% elseif modulo.acf_fc_layout == "keep-look" %}
        	add_remarketing_products();

			{% endif %} 
			{% endfor %}
			//$('#modal-promo').openModal();
		}


		$(document).ready(function(){ 

			pageIni();

		});  

		// $(window).load(function() {

		// 	pageIni();

		// });

		// $(document).on('page:change', function() {
		// 	pageIni();
		// });


	


</script>
{% endblock %}