{% extends "template_parts/main_template.twig" %}

{% block body_content %}

	<section class="category_header" style="background-image: url({{post.get_field("imagen")}});">
		<h1> {{post.title}} </h1>
	</section>

	<section class="contenido-padding">
		{{post.content}}
	</section>


{% endblock  %}