{% extends "template_parts/lite-main.twig" %}

{% block body_content %}
    <div class="container">
    <h1 style="text-align:center;font-size:20px;"> {{post.title}} </h1>

	{{post.content}}

    </div>

{% endblock  %}