<section>
	<div class="modulo-contenido">
		{% if modulo.estilo == "imagen-titulo_texto" %}

			<div class="row contenido-padding">
				<div class="col s12 m5 reveal">
					<img class="responsive-img reveal_img" src="{{modulo.imagen.url}}" alt="{{modulo.imagen.alt}}">
				</div>
				<div class="col s12 m7 reveal">
					<h2 class="{{modulo.text_align}}-align" style="color:{{modulo.text_color}};"> {{modulo.titulo}} </h2>
					<p class="{{modulo.text_align}}-align" style="color:{{modulo.text_color}};"> {{modulo.texto}} </p>
				</div>
			</div>
		{% elseif modulo.estilo == "titulo_texto-imagen" %}

			<div class="row contenido-padding">
				<div class="col s12 m7 reveal">
					<h2 class="{{modulo.text_align}}-align" style="color:{{modulo.text_color}};"> {{modulo.titulo}} </h2>
					<p class="{{modulo.text_align}}-align" style="color:{{modulo.text_color}};"> {{modulo.texto}} </p>
				</div>
				<div class="col s12 m5 reveal">
					<img class="responsive-img reveal_img" src="{{modulo.imagen.url}}" alt="{{modulo.imagen.alt}}">
				</div>
			</div>

		{% elseif modulo.estilo == "centrado" %}

			<div class="row contenido-padding">
				<div class="col s12 reveal">
					<h2 class="{{modulo.text_align}}-align" style="color:{{modulo.text_color}};"> {{modulo.titulo}} </h2>
					<img class="responsive-img reveal_img" src="{{modulo.imagen.url}}" alt="{{modulo.imagen.alt}}">
					<p class="{{modulo.text_align}}-align" style="color:{{modulo.text_color}};"> {{modulo.texto}} </p>
				</div>
			</div>

		{% elseif modulo.estilo == "background-image" %}

			<div class="row no-padding">
				<div class="col s12 reveal background-content no-padding">
					<img class="reveal_img" src="{{modulo.imagen.url}}" alt="{{modulo.imagen.alt}}">
					<div class="content-info {{modulo.text_align}}">
						<h2 class="{{modulo.text_align}}-align" style="color:{{modulo.text_color}};"> {{modulo.titulo}} </h2>
						<p class="{{modulo.text_align}}-align" style="color:{{modulo.text_color}};"> {{modulo.texto}} </p>
					</div>
				</div>
			</div>

		{% endif %}
	</div>
</section>