<section>
	<div class="grid-{{modulo.slug}}">
		<div class="grid-sizer"></div>
		{% for block in modulo.block %}
			<div class="grid-item {{block.ancho}}"><img class="reveal_img" style="width:100%;" src="{{block.imagen.url}}" alt="{{block.imagen.alt}}"></div>
		{% endfor %}
	</div>

</section>