<section>
	<div class="row productos_custom_page">
		{% for block in modulo.product %}
			<div class="col s12 m4 reveal_img_producto product_custom_page row product_item">
				<a href="{{site.url}}/producto/{{block.objeto.slug}}">
					<img class="product_img" src="{{block.objeto.thumbnail.src}}" alt="{{block.objeto.thumbnail.alt}}">
					<span class="product_info">
              <h1>{{block.objeto.title}}</h1>
              {% if block.objeto._regular_price != null %}
              <p class="card-title activator grey-text text-darken-4 price-product">
                {% if 'sale' in block.objeto.class %}
                ${{block.objeto._sale_price}}
                <strike style="color:#bdbdbd;"> ${{block.objeto._regular_price}} </p> </strike>
                {% else %}
                ${{block.objeto._regular_price}} </p>
                {% endif %}
                
                {% else %}
                <p class="card-title activator grey-text text-darken-4 price-product">
                  {% if 'sale' in block.objeto.class %}
                  ${% do action('get_variation_sale_price', block.objeto.ID) %} <strike style="color:#bdbdbd;">${% do action('get_variation_regular_price', block.objeto.ID) %}</strike>
                </p>
                {% else %}

                ${% do action('get_variation_regular_price', block.objeto.ID) %}</p>
                {% endif %}
                {% endif %}

              
                </span>
				</a>
			</div>
		{% endfor %}
	</div>
</section>