<section style="padding:100px 20px;">
  <div class="grid-{{modulo.slug}}">
    <div class="grid-sizer"></div>
    {% for block in modulo.block %}
      <div class="grid-item {{block.ancho}}"><a href="{{block.link}}"><img class="reveal_img" style="width:100%;" src="{{block.imagen.url}}" alt="{{block.imagen.alt}}"></a></div>
    {% endfor %}
  </div>

</section>