<section>
	{% do action('woocommerce_before_single_product') %}
	<div class="grid-{{modulo.slug}} categories-masonry">
		<div class="grid-sizer"></div>
		{% for block in modulo.product %}
			<div class="grid-item {{block.ancho}}" {% if modulo.padding != true %}style="padding:0px;"{% endif %}>
				<div class="card reveal_img" {% if modulo.padding != true %}style="margin:0px;"{% endif %}>
					<div class="card-image waves-effect waves-block waves-light">
						<a href="{% do action('get_cat_link', block.objeto.term_id) %}" class="valign-wrapper">
						<img class="activator" src="{% do action('get_cat_image', block.objeto.term_id) %}" alt="">
						<p class="valign category_name">{{block.objeto.name}}</p>
						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

</section>