<section>
	 <div class="parallax-container valign-wrapper" style="height:{{modulo.alto_seccion}}px;">
      <div class="parallax-{{modulo.slug}}"><img src="{{modulo.imagen.url}}" alt="{{modulo.imagen.alt}}"></div>
      <h2 class="valign" style="color:{{modulo.color_texto}};">{{modulo.texto}}</h2>
    </div>	
</section>