<section class="full-height modulo-parallax-image-full-height" id="{{modulo.slug}}-parallax-image">
	<div class="modulo-parallax-image full-height">
		{% if modulo.estilo == "imagen-texto" %}

			<div class="row full-height">
				<div class="col s12 m6 parallax-img-cont full-height">
					<a href="{{modulo.url_imagen}}"><img class="parallax-img center-align" src="{{modulo.imagen.url}}" alt="{{modulo.imagen.alt}}"></a>
				</div>
				<div class="col s12 m6 parallax-img-cont full-height">
					<p class="{{modulo.text_align}}-align" style="color:{{modulo.text_color}};"> {{modulo.texto}} </p>
				</div>
			</div>

		{% elseif modulo.estilo == "texto-imagen" %}

			<div class="row full-height">
				<div class="col s12 m6 parallax-img-cont full-height">
					<p class="{{modulo.text_align}}-align" style="color:{{modulo.text_color}};"> {{modulo.texto}} </p>
				</div>
				<div class="col s12 m6 parallax-img-cont full-height">
					<a href="{{modulo.url_imagen}}"><img class="parallax-img center-align" src="{{modulo.imagen.url}}" alt="{{modulo.imagen.alt}}"></a>
				</div>
			</div>

		{% elseif modulo.estilo == "imagen" %}

			<div class="row full-height">
				<div class="col s12 parallax-img-cont full-height">
					<a href="{{modulo.url_imagen}}"><img class="parallax-img center-align" src="{{modulo.imagen.url}}" alt="{{modulo.imagen.alt}}"></a>
				</div>
			</div>

			{% elseif modulo.estilo == "imagen-imagen_parallax" %}

			<div class="row full-height">
				<div class="col s12 m6 parallax-img-cont full-height">
					<a href="{{modulo.url_imagen}}"><img style="" class="center-align" src="{{modulo.imagen.url}}" alt="{{modulo.imagen.alt}}"></a>
				</div>
				<div class="col s12 m6 parallax-img-cont full-height">
					<a href="{{modulo.url_imagen_dos}}"><img class="parallax-img center-align" src="{{modulo.segunda_imagen.url}}" alt="{{modulo.segunda_imagen.alt}}"></a>
				</div>
			</div>

			{% elseif modulo.estilo == "imagen_parallax-imagen" %}

			<div class="row full-height">
				<div class="col s12 m6 parallax-img-cont full-height">
					<a href="{{modulo.url_imagen}}"><img class="parallax-img center-align" src="{{modulo.imagen.url}}" alt="{{modulo.imagen.alt}}"></a>
				</div>
				<div class="col s12 m6 parallax-img-cont full-height">
					<a href="{{modulo.url_imagen_dos}}"><img style="" class="center-align" src="{{modulo.segunda_imagen.url}}" alt="{{modulo.segunda_imagen.alt}}"></a>
				</div>
			</div>

		{% endif %}


	</div>
</section>