<div id="products_array">

  <div class="row">
   {% for item in products %}
   <div class="col s12 m{{12 / modulo.cantidad_por_fila}} product_item ">
        {% if loop.index is divisibleby(4) %}
            <div class="row">
        {% endif %}
        <div class="col s12 m3 product_item follow-help" follow-help-data="¡ Compra Ya !">
          {% include ['template_parts/product_item.twig'] %}
        </div>
        {% if loop.index is divisibleby(4) or loop.last %}
          </div>
        {% endif %}
    </div>
    {% endfor %}
  </div>

</div>
