<div style="margin:100px 0px;"> 

      <div class="row">
        
        {% for item in term.get_posts(-1) %}
        {% if loop.index is divisibleby(4) %}
            <div class="row">
        {% endif %}
        <div class="col s12 m{{12 / modulo.cantidad_por_fila}} product_item ">
          {% include ['template_parts/product_item.twig'] %}
        </div>
        {% if loop.index is divisibleby(4) or loop.last %}
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>