<section class="full-height" {% if modulo.alto_seccion != null %}style="height:{{modulo.alto_seccion}};"{% endif %}>
	<div class="swiper-container slider_{{modulo.slug}}" {% if modulo.padding != true %}style="height:100%;width:100%;padding:0px;"{% endif %}>
		<div class="swiper-wrapper">
			{% for slide in modulo.slide %}
			<div class="swiper-slide">			    
				<div data-background="{{slide.imagen.url}}" class="swiper-lazy background-container {% if slide.animar_fondo == true %}zoom-anim{% endif %} {{slide.align}}-bg">
					<div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
				</div>
				<div class="row slider-info {{slide.alineado_contenido}}">
					{% if loop.parent.loop.first and loop.first %}
						<h1>{{slide.titulo}}</h1>
					{% else %}
						<h2>{{slide.titulo}}</h2>
					{% endif %}
					<p>{{slide.subtitulo}}</p> 
					{% if slide.internal_link != null %}
					<a href="{{slide.internal_link}}" style="font-size: 12px;" class="waves-effect waves-light btn">{{slide.internal_link_text}}</a>
					{% endif %}
				</div>
			</div>

			{% endfor %}
			
		</div>
		{% if modulo.pagination_show %}
		<!-- Add Pagination -->
		<div class="{{modulo.slug}}-swiper-pagination swiper-pagination"></div>
		{% endif %}
		{% if modulo.arrows %}
		<!-- Add Arrows -->
		<div class="{{modulo.slug}}-swiper-button-next swiper-button-next"></div>
		<div class="{{modulo.slug}}-swiper-button-prev swiper-button-prev"></div>
		{% endif %}
	</div>
</section>