<div class="row container product_container">
<div class="col s12 m5">
    <img class="product_img" style="width:100%;" src="{{post.thumbnail.src}}" alt="{{item.thumbnail.alt}}">
</div>
<div class="col s12 m7">
<div class="product_info">
   <div class="info_header">
      <h5 style="margin:0px;"> {{post.title}} </h5>
      {% if activar_tienda %}
        {% if post.proximamente == false %}
              <p class="product_price">
                {% if 'sale' in post.class %}
                  <span class="" style="color:red;font-weight:700;margin-right:10px;">{% do action('get_discount_percentage', post.ID) %}</span> <strike style="color:red;">${% do action('get_regular_price', post.ID) %} </strike><br>${% do action('get_sale_price', post.ID) %}  
                {% else %}
                  ${% do action('get_regular_price', post.ID) %} 
                {% endif %}
              </p>
        {% endif %}
      {% endif %}
</div>
<form method="post">

  <input type="hidden" name="add-to-cart" value="{{ post.id }}"/>

  <div class="row">
  {% if variations_attributes != null %}
  <div class="col s12 m6">ESCOGE TU TALLA</div>
    <div class="col s12 m6" style="padding: 0px;">
      {% for variation_attibute in variations_attributes %}
      <select class="button-style" name="attribute_{{variation_attibute.title}}">
        {% for variation in variation_attibute.variation if variation.stock > 0  %}
        <option data-stock="{{variation.stock}}" >{{variation.name}}</option>

        {% endfor %}
      </select>
      {% endfor %}
    </div>
    {% endif %}
    <div class="col s12 m6">CANTIDAD</div>
    <div class="col s12 m6" style="padding: 0px;">
      <!-- <select name="quantity" id="">
        {% for i in 1..10 %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}  
      </select> -->
      <input type="number" name="quantity" value="1">
    </div>
    <div class="col s12" style="padding: 0px;">
      <button style="width:100%;" class="product_cart_add" type="submit">Añadir Al Carrito{{ post.cart_add }}</button>
    </div>
  </div>
  <hr><br>


</form>
</div>
</div>
<script>
 var selectName = $('select.button-style').attr('name');

    // add a hidden element with the same name as the select
    var hidden = $('<input type="hidden" name="' + selectName + '">');
    // hidden.val($('select.button-style').val());
    hidden.insertAfter($('select.button-style'));

    $("select.button-style option").unwrap().each(function() {
        var btn = $('<div follow-help-data="stock: ' + $(this)[0].dataset.stock + '" class="btn-select follow-help">' + $(this).text() + '</div><div style="font-size: 22px;display: inline-block;">/</div>');
        $(this).replaceWith(btn);
    });

    $(document).on('click', '.btn-select', function() {
        $('.btn-select').removeClass('on');
        $(this).addClass('on');
        $('input[name="' + selectName + '"]').val($(this).text());
    });
</script>