<div class="row container" id="cart_cont">
{% for item in cart_products %}
    <div class="col s6 m3">
    <a href="{{item["link"]}}">
        
        <img src="{{item["image"]}}" width="100%">
        <h6 class="center-align"> {{item["title"]}}</h6>
        <h5 class="center-align">x {{item["quantity"]["value"]}} / {{item["subtotal"]}}</h5>
    </a>
    </div>
{% endfor %}
</div>