{% if cart_count>0 %}
<div id="checkout-now">
    <div class="row container">
        <div class="col s12 m6">
            
           <a href="#modal-cart" class="modal-trigger icon-shop"> Tienes {{cart_count}} productos en tu carrito finaliza tu compra Aqui </a>
            
        </div>
        <div class="col s12 m6">
            <a style="width:100%;" id="go_to_checkout" href="{{checkout_url}}">Ir a Pagar</a>
        </div>
    </div>
</div>    
{% endif %}