<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{site.theme.link}}/public/build/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="{{site.theme.link}}/public/build/css/animate.css">
  <link href="{{site.theme.link}}/public/build/css/style.css?v={{version_cache}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="{{site.theme.link}}/public/build/css/swiper.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Raleway:300,400,500,700&display=swap" rel="stylesheet">
