<!-- menu container  -->
<div id="menu-container" class="{% if post.backgroundheader != null %} {{post.backgroundheader}} {% else %} white
{% endif %}">
<div class="row" id="desk-menu">
<input id="search" placeholder="BUSCAR"></i>
	<ul class="col s12 m3">
		{% for item in product_categories %}

		<li class="{{item.classes | join(' ')}}">
			<a 
			{% if item.children %}
			data-sublevel-1="sublevel-{{item.id}}" data-preview="{% do action('get_cat_image', item.id) %}" class="sublevel-activator-1 category-link"
			{% else %}
			href="{{item.link}}" class="category-link" data-preview="{% do action('get_cat_image', item.id) %}"
			{% endif %}
			>{{item.name}}</a>

		</li>
		{% endfor %}
		
	</ul>
	{# segundo nivel #}
	{% for item in product_categories %}
	{% if item.children %}
	<ul class="col s12 m3 sublevel-2" id="sublevel-{{item.id}}">
		<li class="{{item.classes | join(' ')}}">
			<a href="{{item.link}}" class="category-link" data-preview="{% do action('get_cat_image', item.id) %}">All</a>
		</li>
		{% for subitem in item.children if subitem.parent == item.id  %}
		<li class="{{subitem.classes | join(' ')}}">
			<a
			{% if subitem.children %}
			data-sublevel-2="sublevel-{{subitem.id}}" data-preview="{% do action('get_cat_image', subitem.id) %}" class="sublevel-activator-2 category-link"
			{% else %}
			href="{{subitem.link}}" class="category-link" data-preview="{% do action('get_cat_image', subitem.id) %}"
			{% endif %}
			>{{subitem.name}}</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endfor %}

	{# tercer nivel #}
	{% for item in product_categories %}
	{% if item.children %}
	{% for subitem in item.children if subitem.parent == item.id  %}
	{% if subitem.children %}
	<ul class="col s12 m3 sublevel-3" id="sublevel-{{subitem.id}}">
		<a href="{{subitem.link}}" class="category-link" data-preview="{% do action('get_cat_image', subitem.id) %}">All</a>
		{% for subsubitem in subitem.children %}
		<li class="{{subsubitem.classes | join(' ')}}">
			<a 
			{% if subsubitem.has_child_class %}
			data-sublevel-3="sublevel-{{subsubitem.id}}" data-preview="{% do action('get_cat_image', subsubitem.id) %}" class="sublevel-activator-3 category-link"
			{% else %}
			href="{{subsubitem.link}}" class="category-link" data-preview="{% do action('get_cat_image', subsubitem.id) %}"
			{% endif %}
			>{{subsubitem.name}}</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endfor %}
	{# cuarto nivel #}
	{% for item in product_categories %}
	{% if item.children %}
	{% for subitem in item.children if subitem.parent == item.id  %}
	{% if subitem.children %}
	{% for subsubitem in subitem.children %}
	{% if subsubitem.children %}
	<ul class="col s12 m3 sublevel-4" id="sublevel-{{subsubitem.id}}">
		<a href="{{subsubitem.link}}" class="category-link" data-preview="{% do action('get_cat_image', subsubitem.id) %}">All</a>
		{% for subsubsubitem in subsubitem.children %}
		<li class="{{subsubsubitem.classes | join(' ')}}">
			<a href="{{subsubsubitem.link}}" class="category-link" data-preview="{% do action('get_cat_image', subsubsubitem.id) %}">{{subsubsubitem.name}}</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endfor %}
</div>
<div class="row" id="mobile-menu">
	<ul class="col s12 m3">
		{% for item in product_categories %}
		<li class="{{item.classes | join(' ')}}">
			<a 
			{% if item.children %}
			data-mobile-sublevel-1="mobile-sublevel-{{item.id}}" data-preview="{% do action('get_cat_image', item.id) %}" class="category-link mobile-sublevel-activator-1"
			{% else %}
			href="{{item.link}}" class="category-link" data-preview="{% do action('get_cat_image', item.id) %}"
			{% endif %}
			>{{item.name}}</a>
			{# segundo nivel #}
			{% if item.children %}
			<ul class="col s12 m3 mobile-sublevel-2" id="mobile-sublevel-{{item.id}}">
				<a href="{{item.link}}" class="category-link" data-preview="{% do action('get_cat_image', item.id) %}">All</a>
				{% for subitem in item.children if subitem.parent == item.id  %}
				<li class="{{subitem.classes | join(' ')}}">
					<a
					{% if subitem.children %}
					data-mobile-sublevel-2="mobile-sublevel-{{subitem.id}}" data-preview="{% do action('get_cat_image', subitem.id) %}" class="category-link mobile-sublevel-activator-2"
					{% else %}
					href="{{subitem.link}}" class="category-link" data-preview="{% do action('get_cat_image', subitem.id) %}"
					{% endif %}
					>{{subitem.name}}</a>
					{# tercer nivel #}
					{% if subitem.children %}
					<ul class="col s12 m3 mobile-sublevel-3" id="mobile-sublevel-{{subitem.id}}">
						<a href="{{subitem.link}}" class="category-link" data-preview="{% do action('get_cat_image', subitem.id) %}">All</a>
						{% for subsubitem in subitem.children %}
						<li class="{{subsubitem.classes | join(' ')}}">
							<a 
							{% if subsubitem.has_child_class %}
							data-mobile-sublevel-3="mobile-sublevel-{{subsubitem.id}}" data-preview="{% do action('get_cat_image', subsubitem.id) %}" class="category-link mobile-sublevel-activator-3"
							{% else %}
							href="{{subsubitem.link}}" class="category-link" data-preview="{% do action('get_cat_image', subsubitem.id) %}"
							{% endif %}
							>{{subsubitem.name}}</a>
							{# cuarto nivel #}
							{% if subsubitem.has_child_class %}
							<ul class="col s12 m3 mobile-sublevel-4" id="mobile-sublevel-{{subsubitem.id}}">
								<a href="{{subsubitem.link}}" class="category-link" data-preview="{% do action('get_cat_image', subsubitem.id) %}">All</a>
								{% for subsubsubitem in subsubitem.get_children %}
								<li class="{{subsubsubitem.classes | join(' ')}}">
									<a href="{{subsubsubitem.link}}" class="category-link" data-preview="{% do action('get_cat_image', subsubsubitem.id) %}">{{subsubsubitem.name}}</a>
								</li>
								{% endfor %}
							</ul>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endfor %}
		
	</ul>

</div>
<div class="row" id="menu_principal">

	{% for item in menu.get_items %}
	<div class="col s12 m3 {{item.classes | join(' ')}}">
		<a href="{{item.link}}">{{item.name}}</a>
	</div>
	{% endfor %}


</div>
<hr>

		<ul class="" id="redes_menu">
			<!-- Dropdown Trigger -->
			{% for item in redes %}
			<li><a follow-help-data="{{item.title}}" class="follow-help" href="{{item.link}}"><img src="{{item.imagen}}" alt=""></a></li> 
			{% endfor %}

		</ul>
	
</div>
<div id="menu-category-preview"></div>