<!-- <div id="modal-ayuda" class="modal bottom-sheet" >
	<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">X</a>
	<div class="modal-content">
		{{function('do_shortcode', '[fc id="2"][/fc]')}}
	</div>
	
</div>

<a id="boton-ayuda" class="waves-effect waves-light btn modal-trigger black white-text" href="#modal-ayuda">Necesitas ayuda ?</a> -->


<footer>
	<br>
	<div class="row">
		<center>
			<ul class="" id="redes_footer">
				<!-- Dropdown Trigger -->
				{% for item in redes %}
				<li><a follow-help-data="{{item.title}}" class="follow-help" href="{{item.link}}"><img src="{{item.imagen}}" alt=""></a></li> 
				{% endfor %}

			</ul>
		</center>
	</div>
	<hr>
	{% if activar_tienda %}
	<br>
	<div class="row">

		<div class="col s2 m1 offset-m2 offset-s2">
			<img class="responsive-img" src="{{public_folder}}/images/epayco.png" alt="">
		</div>
		<div class="col s2 m1">
			<img class="responsive-img" src="{{public_folder}}/images/americanexpress.png" alt="">
		</div>
		<div class="col s2 m1">
			<img class="responsive-img" src="{{public_folder}}/images/baloto.png" alt="">
		</div>
		<div class="col s2 m1">
			<img class="responsive-img" src="{{public_folder}}/images/diners.png" alt="">
		</div>
		<div class="col s2 m1  offset-s2">
			<img class="responsive-img" src="{{public_folder}}/images/efecty.png" alt="">
		</div>
		<div class="col s2 m1">
			<img class="responsive-img" src="{{public_folder}}/images/mastercard.png" alt="">
		</div>
		<div class="col s2 m1">
			<img class="responsive-img" src="{{public_folder}}/images/PSE.png" alt="">
		</div>
		<div class="col s2 m1">
			<img class="responsive-img" src="{{public_folder}}/images/visa.png" alt="">
		</div>
		<div class="col s12">
			<center>
				<p>Los pagos de esta pagina son seguros y son mediados por <a href="http://epayco.co">epayco</a></p>
			</center>
		</div>
	</div>
	
	<hr>
	{% endif %}
	<div class="row" id="menu_principal">
		<center>
			{% for item in menu.get_items %}

			<a style="display:inline-block;margin:5px 10px;" href="{{item.link}}">{{item.name}}</a>

			{% endfor %}
		</center>

	</div>
	<hr>
	<div class="row">
		<div class="col s12 m4"></div>
		<div class="col s12 m4"></div>
		<div class="col s12 m4"></div>
	</div>
	<div class="row">
		<center>Todos los derechos reservados, Bright Young People 2018</center>
	</div>
	<br>
</footer>