{% if actual_page!="cart" %}<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>{% endif %}
<script src="{{site.theme.link}}/public/build/js/materialize.js"></script>
<script src="{{site.theme.link}}/public/build/js/scrollreveal.min.js"></script>
<script src="{{site.theme.link}}/public/build/js/swiper.min.js?v=0320208"></script>
<script src="{{site.theme.link}}/public/build/js/masonry.pkgd.min.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="{{site.theme.link}}/public/build/js/init.js?v={{version_cache}}"></script>