<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KNWS8DT');</script>
  <!-- End Google Tag Manager -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <title>{{titulo}}</title>

  <!-- CSS  -->
  {% include ['template_parts/css_files.twig'] %}

  {% block styles %}
          
  {% endblock %}

  {% block metadata %}
          
  {% endblock %}

  {{function('wp_head')}}

</head>
<body  class="">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNWS8DT"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div style="text-align:center;margin-top:50px">
	<a style="height: 65px;overflow:hidden;" href="{{site.url}}" class="brand-logo div style= {% if post.logo != null %}{{post.logo}} {% else %} {{universal_logo}} {% endif %} "><img src="{{public_folder}}/images/{% if post.logo != null %}{{post.logo}}{% else %}{{universal_logo}}{% endif %}.png" alt=""></a>
  </div >
  
  {% block body_content %}
          
  {% endblock %}

  {% block scripts %}
          
  {% endblock %}

  {{function('wp_footer')}}

  </body>
</html>
