<ul id="{{id}}" class="{{classes}}">
	{% for item in menu.get_items %}
		<li class="{{item.classes | join(' ')}}">
			<a title="link del menu" style="color:{{post.color_tipografia_header}};" 
			{% if item.has_child_class %}
				href="#" data-activates="dropdown-menu-{{item.id}}-{{id}}" class="dropdown-button"
				{% else %}
				href="{{item.get_link}}"
			{% endif %}
			>{{item.title}}</a>
			
		</li>
	{% endfor %}
	
</ul>

{% for item in menu.get_items %}
	{% if item.has_child_class %}
		<ul style="background-color:{{post.backgroundheader}};" id="dropdown-menu-{{item.id}}-{{id}}" class="dropdown-content dropdown-menu">
			{% for subitem in item.get_children %}
				<a title="link del menu" style="color:{{post.color_tipografia_header}};" href="{{subitem.get_link}}">{{subitem.title}}</a>
			{% endfor %}
		</ul>
	{% endif %}
{% endfor %}

