<!-- Modal Structure -->
  <div id="modal-cart" class="modal bottom-sheet">
    <div class="row modal-title">
        <p class="left">Resumen del Carrito</p>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat right">X</a>
    </div>
    <div class="row container">
        <div class="col s12 m6">
            <h5><strong>CANTIDAD PRODUCTOS:</strong>{{cart_count}}</h5> 
            <h5><strong>VALOR TOTAL:</strong>{{cart_total}}</h5>
        </div>
        <div class="col s6 m3 center-align"><br><a href="{{cart_url}}" class="cart_buttons">EDITAR PEDIDO</a></div>
        <div class="col s6 m3 center-align"><br><a href="{{checkout_url}}" class="cart_buttons">PAGAR AHORA</a></div>
    </div>

    <div class="modal-content row">

    </div>
  </div>

 <!-- Modal Structure -->
  <div id="modal-add-to-cart" class="modal bottom-sheet">
    <div class="row modal-title">
        <p class="left">Compra rapida</p>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat right">X</a>
    </div>
    <div class="modal-content">

    </div>
  </div>