<nav class="{{post.backgroundheader}}" role="navigation">
    <div class="nav-wrapper container">
    	<a title="carrito" style="color:{{post.color_tipografia_header}};" href="{{cart_url}}" >Cart({{cart_count}})</a>
      <a title="logo ir al home" style="color:{{post.color_tipografia_header}};" id="logo-container" href="#" class="brand-logo">Logo</a>
      {% include "template_parts/menu.twig" with {id: 'nav-desk',classes: 'left hide-on-med-and-down'} %}

      {% include "template_parts/menu.twig" with {id: 'nav-mobile',classes: 'side-nav'} %}
      <a title="menu principal" style="color:{{post.color_tipografia_header}};" href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>