<!-- sub nav  -->


<nav id="sub-nav">
	<div class="nav-wrapper">
		<ul class="left" id="redes">
			<!-- Dropdown Trigger -->
			{% for item in redes %}
			<li><a title="ir a red social {{item.title}}" follow-help-data="{{item.title}}" class="follow-help" href="{{item.link}}"><img src="{{item.imagen}}" alt=""></a></li> 
			{% endfor %}
			
		</ul>
		<p class="right">{{subheader_text}}</p>
	</div>
</nav>

<!--  nav  -->

<nav id="top-bar" class="{% if post.backgroundheader != null %} {{post.backgroundheader}} {% else %} white
{% endif %}" role="navigation">
<div class="nav-wrapper">
	<div id="" class="menu-activator menu btn2 hide-on-small-only follow-help" follow-help-data="Menu" data-menu="2">
		<div class="icon"></div>
	</div>

	<a style="height: 65px;overflow:hidden;" href="{{site.url}}" class="brand-logo center {% if post.logo != null %}{{post.logo}} {% else %} {{universal_logo}} {% endif %} "><img src="{{public_folder}}/images/{% if post.logo != null %}{{post.logo}}{% else %}{{universal_logo}}{% endif %}.png" alt=""></a>

	<ul class="right hide-on-small-only">
		{% if activar_tienda %}
		<li><a title="ir al carrito" style="height: 65px;"  href="#modal-cart" follow-help-data="Cart(${{cart_total}})" class="modal-trigger icon-shop follow-help {% if cart_count > 0 %}animated infinite pulse{% endif %}">{{cart_count}}</a></li>
		{% endif %}
		<li class=""><a title="menu del usuario" id="dropdown-user" style="height: 65px;" href="#!" follow-help-data="User menu" data-activates="dropdown-menu-user" class="icon-user follow-help"></a></li>
		<!-- <li class=""><a id="boton-idiomas" follow-help-data="Languages" class='right icon-down follow-help' href='#' data-activates='dropdown-idiomas'>{{current_language}}</a></li> -->
	</ul>
	
	
	<ul id="dropdown-menu-user" class="dropdown-content">
		{% if username == null %}
		<li><a title="ingresar" class="modal-trigger" href="#modal-log"> Ingresar </a></li>
		<li class="divider"></li>
		<li><a title="registrate" class="modal-trigger" href="#modal-registro"> Registro </a></li>
		{% else %}
		<li><a title="tu nombre de usuario" href="{{site.url}}/mi-cuenta">{{username}}</a></li>
		<li><a title="salir de bright" href="{{logout_url}}">LogOut</a></li>
		{% endif %}

	</ul>
	

	<!-- Dropdown Structure -->
	<ul id='dropdown-idiomas' class='dropdown-content'>
		{% for lang in enabled_languages %}
		<li><a title="cambiar idioma" href="/{{lang}}/">{{lang}}</a></li>
		{% endfor %}
	</ul>
	
</div>
<div class="icon-mobile-wrapper row hide-on-med-and-up">
	<div class="col s4">
		<center>
			<a title="" id="dropdown-user-mob" style="height: 65px;" href="#!" data-activates="dropdown-menu-user-mob" class="icon-user"></a>
		</center>
	</div>
	{% if activar_tienda %}
	<div class="col s4">
		<center>
			<a title="ir al carrito" style="height: 65px;"  href="#modal-cart" class="modal-trigger icon-shop {% if cart_count > 0 %}animated infinite pulse{% endif %}">{{cart_count}}</a>
		</center>
	</div>
	{% endif %}
	<div class="col s4">
		<center>
			<div id="" class="menu-activator menu btn2" data-menu="2" style="position:relative;">
				<div class="icon"></div>
			</div>
		</center>
	</div>
		<!-- <div class="col s3">
		<center>
			<a id="boton-idiomas-mob" class='icon-down' href='#' data-activates='dropdown-idiomas-mob'>{{current_language}}</a>
			</center>
		</div> -->
		<ul id="dropdown-menu-user-mob" class="dropdown-content">
			{% if username == null %}
			<li><a title="ingresa a bright" class="modal-trigger" href="#modal-log">Ingresar</a></li>
			<li class="divider"></li>
			<li><a title="registrate en bright" class="modal-trigger" href="#modal-registro">Registro</a></li>
			{% else %}
			<li><a title="tu cuenta" href="{{site.url}}/mi-cuenta">{{username}}</a></li>
			<li><a title="salir de bright" href="{{logout_url}}">Salir</a></li>
			{% endif %}

		</ul>

		<!-- Dropdown Structure -->
		<ul id='dropdown-idiomas-mob' class='dropdown-content'>
			{% for lang in enabled_languages %}
			<li><a title="cambiar idioma" href="/{{lang}}/">{{lang}}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div id="pixel-white-bar"></div>

	{% include ['template_parts/dropdown-menu-container-2.twig'] %}
	
<div id="bottom-menu" class="white hide-on-small-only">

	{% for item in menu_horizontal.get_items %}
		<a title="ir a {{item.name}}" href="{{item.link}}">{{item.name}}</a>
	{% endfor %}
</div>
   {% if activar_tienda %}
   {% if post.proximamente == false %}
   {% do action('woocommerce_before_single_product') %}
   {% endif %}
   {% endif %}
</nav>

{% if actual_page != "registro" %}
<!-- Modal Structure -->
<div id="modal-log" class="modal modal-entrada">
<h2>Hola de nuevo !</h2>
	<div class="modal-content">
		{{function('do_shortcode', '[TheChamp-Login]')}}
		{{function('do_shortcode', '[wppb-login]')}}
	</div>
</div>

<div id="modal-registro" class="modal modal-entrada">
<h2>Bienvenido</h2>
	<div class="modal-content">
		{{function('do_shortcode', '[TheChamp-Login]')}}
		{{function('do_shortcode', '[wppb-register]')}}
	</div>
</div>
{% endif %}