
<div class="swiper-container swiper-product">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img data-src="{{item.thumbnail.src}}" class="swiper-lazy" style="width:100%;" />
            <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
        </div>
        
   
        {% for galery_item in get_product_gallery( item.id ) %}
        <div class="swiper-slide">
            <img data-src="{{galery_item}}" style="width:100%;" class="swiper-lazy"/>
            <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
        </div>
        {% endfor %}
   
       

    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev nav-button"></div>
    <div class="swiper-button-next nav-button"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
