<a href="{{site.url}}/producto/{{item.slug}}" title="Ver más de este producto">
<!-- <img class="product_img" src="{{item.thumbnail.src}}" alt="{{item.thumbnail.alt}}"> -->
{% include ['template_parts/product_slider.twig'] %}
<span class="product_info"> 
    <h2>{{item.title}}</h2>

    <p style="margin:0px;font-size:15px;color:gray;">Disponible en: {% do action('get_stock_sizes', item.ID) %}</p>

    {% if activar_tienda and item.proximamente == false and "instock" in item._stock_status == true %} <!--  activar tienda -->

    {% if "new" in item.class %}
    <span class="new">NUEVO</span>
    {% endif %}

    <p class="card-title activator grey-text text-darken-4 price-product">
    {% if 'sale' in item.class %}
    <span class="discount_percentage">{% do action('get_discount_percentage', item.ID) %}</span>
    ${% do action('get_sale_price', item.ID) %} {{current_currency}}
    <strike style="color:red;"> ${% do action('get_regular_price', item.ID) %} {{current_currency}} </strike>
    {% else %}
    ${% do action('get_regular_price', item.ID) %}  {{current_currency}}
    {% endif %}
    </p>
    
    <!--  activar tienda -->
    {% endif %} 

    {% if item.proximamente %} <!--  PROXIMAMENTE -->
    <p class="card-title activator grey-text text-darken-4 price-product"> PROXIMAMENTE </p>
    {% endif %} <!--  PROXIMAMENTE -->

    {% if "instock" in item._stock_status == false %} <!--  AGOTADO -->
    <p class="card-title activator red-text price-product"> AGOTADO </p>
    {% endif %} <!--  AGOTADO -->
    <div class="add_to_cart_produts modal-trigger" href="#modal-add-to-cart" add-to-cart-data="{{item.id}}">Añadir Al Carrito</div>
</span>
</a>
    