<center><h5>Seguir viendo:</h5></center>
{% for item in products %}
    {% if loop.index is divisibleby(4) %}
        <div class="row">
    {% endif %}
        <div class="col s12 m3 product_item follow-help" follow-help-data="¡ Compra Ya !">
            {% include ['template_parts/product_item.twig'] %}
        </div>
    {% if loop.index is divisibleby(4) or loop.last %}
        </div>
    {% endif %}
{% endfor %}