{% extends "template_parts/main_template.twig" %}

{% block styles %}
<style>
  span.discount_percentage {
    position: absolute;
    right: 25px;
    top: 15px;
    background-color: #ee1630;
    padding: 5px;
    color: white !important;
    font-size: 14px;
    font-weight: 900 !important;
  }
  span.new {
    position: absolute;
    left: 25px;
    top: 15px;
    background-color: #1682f1;
    padding: 5px 10px;
    color: white !important;
    font-size: 12px;
    font-weight: 900 !important;
  }
  .tool-pagination a{
    font-size:15px;
  }
</style>
{% endblock %}

{% block body_content %}
<section class="category_header" style="background-image: url({{post.get_field("imagen")}});">
  <h1> {{post.title}} </h1>
</section>

{{ function('woocommerce_breadcrumb') }}

<section class="contenido-padding">

  <div class="row">
    <div class="col s12" id="products_filters">
    {% for size in size_attributes %}
    <a href="{{shop_url}}?size_filter={{size.slug}}">{{size.name}}</a>
    {% endfor %}
      <ul class="collapsible" id="cat-collapsible" data-collapsible="accordion">
        {% for cat in product_categories %}
        <li>
          <a {% if cat.children == false %} href="{{cat.link}}" {% endif %}  class="collapsible-header">{{cat.name}}</a>
          {% if cat.children %}
          <div class="collapsible-body">
            <ul class="collapsible" data-collapsible="accordion">
              <li class="collapsible-header"><a href="{{cat.link}}" >ALL</a></li>
              {% for child in cat.children if child.parent == cat.id  %}
              <li>
                <a {% if child.children == false %} href="{{child.link}}" {% endif %} class="collapsible-header">{{child.name}}</a>
                {% if child.children %}
                <div class="collapsible-body">
                  <ul class="collapsible" data-collapsible="accordion">
                    <li class="collapsible-header"><a href="{{cat.link}}" >ALL</a></li>
                    {% for subchild in child.children %}
                    <li>
                      <a href="{{subchild.link}}"  class="collapsible-header">{{subchild.name}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %} 
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col s12" id="products_array">

      <div class="row">
        {% do action('woocommerce_before_single_product') %}

        {% for item in products %}
        {% if loop.index is divisibleby(4) %}
            <div class="row">
        {% endif %}
        <div class="col s12 m3 product_item follow-help" follow-help-data="¡ Compra Ya !">
          {% include ['template_parts/product_item.twig'] %}
        </div>
        {% if loop.index is divisibleby(4) or loop.last %}
          </div>
        {% endif %}
        {% endfor %}
        <div class="col s12" style="padding-top:50px;">

        <div class="tool-pagination">
          <div class="col s4">
          <center>
            {% if products.pagination.prev %}
            <a href="{{products.pagination.prev.link}}" style="display:inline-block;" class="prev {{products.pagination.prev.link|length ? '' : 'invisible'}}"><< Anterior</a>
            {% endif %}
            </center>
          </div>
          <div class="col s4">
           <center>
            {% for page in products.pagination.pages %}
            {% if page.link %}
            {% else %}
            <a class="{{page.class}}">{{page.title}} De {{products.pagination.pages|length}}</a>
            {% endif %}
            {% endfor %}
            </center>
          </div>
          <div class="col s4">
           <center>
            {% if products.pagination.next %}
            <a href="{{products.pagination.next.link}}" style="display:inline-block;" class="next {{products.pagination.next.link|length ? '' : 'invisible'}}">Siguiente >></a>
            {% endif %}
            </center>
          </div>
        </div>

      </div>
      </div>

    </div>
  </section>

  <div class="row" id="remarketing_products"> 

  </div>

  {% endblock  %}

  {% block scripts %}
    <script>
      $(window).load(function() {
        add_remarketing_products();
      });
    </script>
  {% endblock %}