{% extends "template_parts/main_template.twig" %}

{% block body_content %}

	<section class="category_header" style="background-image: url({{post.imagen}});">
		<h1> {{post.title}} </h1>
	</section>

	<section class="contenido-padding">
		{{function('do_shortcode', '[woocommerce_cart]')}}
	</section>


{% endblock  %}