{% extends "template_parts/main_template.twig" %}

{% block body_content %}
	<h1>hola checkout</h1>
	<main class="page-content">
	{{function('do_shortcode', '[woocommerce_checkout]')}}
	</main>
{% endblock  %}