{% extends "template_parts/main_template.twig" %}

{% block styles %}
<style>
  span.discount_percentage {
    position: absolute;
    right: 25px;
    top: 15px;
    background-color: #ee1630;
    padding: 5px;
    color: white !important;
    font-size: 14px;
    font-weight: 900 !important;
  }
  span.new {
    position: absolute;
    left: 25px;
    top: 15px;
    background-color: #1682f1;
    padding: 5px 10px;
    color: white !important;
    font-size: 12px;
    font-weight: 900 !important;
  }
  .tool-pagination a{
    font-size:15px;
  }
</style>
{% endblock %}



{% block body_content %}

<div id="product_container">
<div class="info_header hide-on-med-and-up">
      {{ function('woocommerce_breadcrumb') }}
      {{kk_star}}
      <h1 style="margin:0px;"> {{post.title}} </h1>
      {% if activar_tienda %}
        {% if post.proximamente == false %}
              <p class="product_price">
                {% if 'sale' in post.class %}
                  <span class="" style="color:red;font-weight:700;margin-right:10px;">{% do action('get_discount_percentage', post.ID) %}</span> <strike style="color:red;">${% do action('get_regular_price', post.ID) %} </strike><br>${% do action('get_sale_price', post.ID) %} <a class='boton-divisa icon-down' href='#' data-activates='dropdown-divisa'>{{current_currency}}</a> 
                {% else %}
                  ${% do action('get_regular_price', post.ID) %} <a class='boton-divisa icon-down' href='#' data-activates='dropdown-divisa'>{{current_currency}}</a>
                {% endif %}
              </p>
        {% endif %}
      {% endif %}
      <div class="product_description">{{post.post_excerpt}} </div>
  </div>
  <div class="row">
    <div class="col s12 m8" id="product_gallery" style="padding:0px;">

      <div class="gallery-top col s12 hide-on-small-only">
       <div class="col s12 zoom zoom-cont follow-help" follow-help-data="CLICK TO ZOOM"><center><img class="responsive-img" style="width:100%;max-width:600px;" src="{{post.thumbnail.src}}" alt=""></center></div>

       {% for gallery_item in product_gallery %}
       <div class="col s12 zoom zoom-cont"><center><img class="responsive-img" style="width:100%;max-width:600px;" src="{{gallery_item}}" alt=""></center></div>
       {% endfor %}

     </div>

     <div class="swiper-container hide-on-med-and-up " id="swiper-producto" style="width:100%;">
      <div class="swiper-wrapper">
      <div class="swiper-slide"> 
        <div class="col s12 zoom zoom-cont follow-help" follow-help-data="CLICK TO ZOOM"><center><img class="responsive-img" style="width:100%;max-width:600px;" src="{{post.thumbnail.src}}" alt=""></center></div>
        </div>
        {% for gallery_item in product_gallery %}
        <div class="swiper-slide">          
          <div class="col s12 zoom zoom-cont"><img class="responsive-img" style="width:100%;max-width:600px;" src="{{gallery_item}}" alt=""></div>

        </div>

        {% endfor %}

      </div>

      <!-- Add Arrows -->
      <div class="swiper-producto-swiper-button-next swiper-button-next"></div>
      <div class="swiper-producto-swiper-button-prev swiper-button-prev"></div>

    </div>




  </div>
  <div id="product_info" class="col s12 m4 product_info">
   {% if activar_tienda %}
   {% if post.proximamente == false %}
   {% do action('woocommerce_before_single_product') %}
   
   {% endif %}
   {% endif %}
   <div class="info_header hide-on-med-and-down">
      {{ function('woocommerce_breadcrumb') }}
      {{kk_star}}
      <h1 style="margin:0px;"> {{post.title}} </h1>
      {% if activar_tienda %}
        {% if post.proximamente == false %}
              <p class="product_price">
                {% if 'sale' in post.class %}
                  <span class="" style="color:red;font-weight:700;margin-right:10px;">{% do action('get_discount_percentage', post.ID) %}</span> <strike style="color:red;">${% do action('get_regular_price', post.ID) %} </strike><br>${% do action('get_sale_price', post.ID) %} <a class='boton-divisa icon-down' href='#' data-activates='dropdown-divisa'>{{current_currency}}</a> 
                {% else %}
                  ${% do action('get_regular_price', post.ID) %} <a class='boton-divisa icon-down' href='#' data-activates='dropdown-divisa'>{{current_currency}}</a>
                {% endif %}
              </p>
        {% endif %}
      {% endif %}
      <div class="product_description">{{post.post_excerpt}}</div>
  </div>
    

{% if "instock" in post._stock_status == false %}

<h4 class="card-title activator red-text price-product"> AGOTADO </h4>
{% endif %}
<br><hr><br>
{% if activar_tienda %}
{% if post.proximamente == false %}
{% if "instock" in post._stock_status == true %}
<form method="post">

  <input type="hidden" name="add-to-cart" value="{{ post.id }}"/>

  <div class="row">
  {% if variations_attributes != null %}
  <div class="col s12 m6">ESCOGE TU TALLA</div>
    <div class="col s12 m6" style="padding: 0px;">
      {% for variation_attibute in variations_attributes %}
      <select class="button-style" name="attribute_{{variation_attibute.title}}">
        {% for variation in variation_attibute.variation if variation.stock > 0  %}
        <option data-stock="{{variation.stock}}" >{{variation.name}}</option>

        {% endfor %}
      </select>
      {% endfor %}
    </div>
    {% endif %}
    <div class="col s12 m6">CANTIDAD</div>
    <div class="col s12 m6" style="padding: 0px;">
      <!-- <select name="quantity" id="">
        {% for i in 1..10 %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}  
      </select> -->
      <input type="number" name="quantity" value="1">
    </div>
    <div class="col s12" style="padding: 0px;">
      <button style="width:100%;" class="product_cart_add" type="submit">Añadir Al Carrito{{ post.cart_add }}</button>
      <a style="width:100%;" class="product_cart_add" href="{{checkout_url}}?add-to-cart={{product.id}}">Comprar ya{{ post.cart_add }}</button>
    </div>
    <div class="col s12"><center><a class="modal-trigger" href="#modal-tallas"><br>GUIA DE TALLAS</a></center></div>
  </div>
  <br>


</form>
{% endif %}
{% endif %}
{% endif %}
</div>
</div>

<br><hr><br>

<div class="row" id="crosssell_products">
<div class="container">
  <center style="text-transform:uppercase;">
    <h2 style="font-size:20px;text-transform:uppercase;font-weight:bold;">Descripción del producto</h2>
    {{post.content}}
  </center>
</div>
{% for item in crosssell_products %}
  {% if loop.index is divisibleby(4) %}
      <div class="row">
  {% endif %}
        <div class="col s12 m3 product_item follow-help" follow-help-data="¡ Compra Ya !" style="position:relative;">
          {% include ['template_parts/product_item.twig'] %}
        </div>
  {% if loop.index is divisibleby(4) or loop.last %}
      </div>
  {% endif %}
{% endfor %}

</div>
</div>

<div class="row" id="remarketing_products"> 

  </div>

<ul id='dropdown-divisa' class='dropdown-content'>
  <li><a href="{{current_url}}?currency=COP">$COP</a></li>
  <li><a href="{{current_url}}?currency=USD">$USD</a></li>
</ul>

<div id="modal-tallas" class="modal modal-entrada">
  <div class="modal-content">
    <img src="https://bright.com.co/wp-content/uploads/2018/03/guiadetallas_bright.jpg" style="width:100%;" alt="">
  </div>
</div>

{% endblock  %}

{% block scripts %}
<script src='{{site.theme.link}}/public/build/js/jquery.zoom.min.js'></script>
<script>
  function pageIniSingleProduct() {

    localStorage['ultimo_producto_visto'] = "{{post.ID}}"; // guardo en cache el ultimo producto que vio
    var productos_vistos = "";
    if(localStorage['productos_vistos']!=null){
     productos_vistos = localStorage['productos_vistos'];
     if(productos_vistos.indexOf('{{post.ID}}')<0){
      localStorage['productos_vistos'] = productos_vistos+","+"{{post.ID}}"; 
    }
  }else{
    localStorage['productos_vistos'] = "{{post.ID}}"; 
  }


  if ($(window).width() > 700) {
    $('.zoom-cont').zoom({ on:'click' });
  }

  $('.boton-divisa').dropdown({
    inDuration: 300,
    outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'right' // Displays dropdown with edge aligned to the left of button
    }
    );


  

  if ($(window).width() < 800) {

    var swiper = new Swiper('#swiper-producto', {
        lazy: true,
        pagination: {
            el: '.swiper-pagination',
            type: 'bullet'
        },
        navigation: {
            nextEl: '.swiper-producto-swiper-button-next',
            prevEl: '.swiper-producto-swiper-button-prev',
        },
    });
  }
  else {
    var fixed_limit = $( "#crosssell_products" ).offset().top;
    var info_height = $('#product_info').outerHeight(true)+60; 
    var info_width = $('#product_info').outerWidth(true); 
    var info_top = $('#product_info').offset().top;
    $('#product_info').pushpin({
      top: 0,
      bottom: fixed_limit-info_height,
      offset: info_top
    });
  }

  

}


$(document).ready(function(){ 

  pageIniSingleProduct();

});  


</script>

    <script>
      $(window).load(function() {
        add_remarketing_products();
      });
    </script>
  {% endblock %}  